<p>This is the new comment that you insert:</p>
    <p>
      <strong>Title:</strong>
      <%= @comment.title %><br/>
    </p>
    <p>
      <strong>Text:</strong>
      <%= @comment.text %><br/>
    </p>
<%= link_to 'Back', comments_path %>